<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>QmlAppTemplate</string>
	<key>CFBundleDisplayName</key>
	<string>QmlAppTemplate</string>
	<key>CFBundleExecutable</key>
	<string>QmlAppTemplate</string>
	<key>CFBundleIdentifier</key>
	<string>io.emeric.qmlapptemplate</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7</string>
	<key>CFBundleVersion</key>
	<string>000701</string>
	<key>CFBundleIconFile</key>
	<string>Images</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
			<string>Images</string>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>AppLaunchScreen</string>
	<key>MinimumOSVersion</key>
	<string>14.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
